.container
  -if @idea.user == current_user
    =link_to edit_idea_path, class: 'button_small button_outline button_outline_grey pull-right' do
      %i.glyphicon.glyphicon-pencil
      Edit Idea
  .row.text-center
    .idea-user-box
      = image_tag(@idea.user.avatar, :class => 'idea-user')
    %h2
      =@idea.title
    by
    =link_to @idea.user do
      =@idea.user.first_name + " " + @idea.user.last_name
    at
    =@idea.created_at.localtime.strftime('%d-%m-%Y, %H:%M')
  %br
  %hr
  .row
    .idea-desc-on-show
      =@idea.description.html_safe
  -if !@idea.attachments.empty?
    %h4.times-font Attachments:
    .well.row
      =render partial: @idea.attachments
  .row
    .pull-right
      %input#input-rating.rating{"data-max" => "5", "data-min" => "0","data-show-clear"=>"false", "data-step" => "0.1",
                                  :value => @idea.rate }
  -if (!@idea.comments.empty?)
    .row
      %h4.times-font Comments
      .detailBox
        .actionBox
          %ul.commentList.list-group
            = comments_tree_for(@idea.comments.hash_tree)
  .row
    %br
    %h4.times-font Your comment
    %ul#reply_comment
    .post-comment
      =form_for Comment.new do |f|
        =f.hidden_field :idea_id, :value => params[:id]
        =f.hidden_field :parent_id, :id => 'parent_comment_id'
        =f.text_area :text, :placeholder => "Your comments", :class => "ckeditor"
        .post-button
          =f.submit "Post comment", :class => "btn btn-success post-button"

=javascript_include_tag 'star-rating'
=javascript_include_tag 'comments'
=javascript_include_tag 'rating'