.container
  .row
    .panel.panel-info
      .panel-heading
        .row
          .col-md-2
            -if !@idea.avatar_id.nil?
              =image_tag Attachment.find(@idea.avatar_id).path.thumb_200x200.url, :class => "p-bot-5", :size => '150x150'
            -else
              =image_tag '/img/no_image_available_thumb.jpg', :class => "p-bot-5", :width => 100, :height => 100
          .col-md-10
            %h2.idea-title.text-left
              =@idea.title
        .row
          .pull-right{ :style => 'padding-right:15px;' }
            =link_to @idea.user do
              = image_tag(@idea.user.avatar.small_avatar.url, :class => 'img-circle')
              =@idea.user.first_name + " " + @idea.user.last_name
            at
            =@idea.created_at.localtime.strftime('%d-%m-%Y, %H:%M')
      .panel-body
        =@idea.description.html_safe
      -if !@idea.attachments.empty?
        .panel-footer
          %h4 Attachments:
          .row
            =render partial: @idea.attachments
  -#=form_for Comment.new  do |f|
  -#  =f.hidden_field :idea_id, :value => params[:id]
  -#  =f.hidden_field :parent_id
  -#  =f.text_area :text
  -#  =f.submit 'comment it'
  .row
    .pull-right
      %input#input-rating.rating{"data-max" => "5", "data-min" => "0","data-show-clear"=>"false", "data-step" => "0.1",
                                  :value => !@idea.ratings.average(:rate).nil? ? @idea.ratings.average(:rate).round(2): 0 }
  -if(!@idea.comments.empty?)
    .row
      .detailBox
        .actionBox
          %ul.commentList
            =comments_tree_for(@idea.comments.hash_tree)
  .row
    %ul#reply_comment
    .post-comment
      =form_for Comment.new do |f|
        =f.hidden_field :idea_id, :value => params[:id]
        =f.hidden_field :parent_id, :id => 'parent_comment_id'
        =f.text_area :text, :placeholder => "Your comments", :class => "form-control"
        -#.attach-file
        -#  %label.btn.btn-default{:for => "my-file-selector"}
        -#    Attach file
        -#    %input#my-file-selector{:style => "display:none;", :type => "file"}
        -#  %select{"data-role" => "tagsinput", :multiple => ""}
        -#    %option{:value => "img1.png"} img1.png
        -#    %option{:value => "test.txt"} test.txt
        -#    %option{:value => "img2.png"} img2.png
        .post-button
          =f.submit "Post comment", :class => "btn btn-success post-button"
  -#%input#input-2.file{:type=>"file",:multiple=>"true", "data-show-upload"=>"false", "data-show-caption"=>"true"}

=javascript_include_tag 'rating'