.container
  .panel.panel-info
    .panel-heading
      %h2.idea-title
        =@idea.title
    .panel-body
      =@idea.description.html_safe
    .panel-footer
      %h4 Attachments:
      = render partial: @idea.attachments
  %input#input-2.rating{"data-max" => "5", "data-min" => "0","data-show-clear"=>"false", "data-step" => "0.1"}

  .detailBox
    .actionBox
      %ul.commentList
        %li
          .commenterImage
            %img{:src => "http://lorempixel.com/50/50/people/6"}/
          .commenterName
            =link_to 'Firstname Lastname','#'
            ,
            %span.date.sub-text on March 5th, 2014
          %br
          .commentText
            %p Hello this is a test comment.
          .upvote
            %span.count 0
            %span.upvote
            %span.downvote
          %hr#comment-line
        .answer
          %li
            .commenterImage
              %img{:src => "http://lorempixel.com/50/50/people/7"}/
            .commenterName
              =link_to 'Firstname Lastname','#'
              ,
              %span.date.sub-text on March 5th, 2014
            %br
            .commentText
              %p Hello this is a test comment and this comment is particularly very long and it goes on and on and on.
            .upvote
              %span.count 0
              %span.upvote
              %span.downvote
            %hr#comment-line
        %li
          .commenterImage
            %img{:src => "http://lorempixel.com/50/50/people/7"}/
          .commenterName
            =link_to 'Firstname Lastname','#'
            ,
            %span.date.sub-text on March 5th, 2014
          %br
          .commentText
            %p Hello this is a test comment and this comment is particularly very long and it goes on and on and on.
          .upvote
            %span.count 0
            %span.upvote
            %span.downvote
          %hr#comment-line
        %li
          .commenterImage
            %img{:src => "http://lorempixel.com/50/50/people/7"}/
          .commenterName
            =link_to 'Firstname Lastname','#'
            ,
            %span.date.sub-text on March 5th, 2014
          %br
          .commentText
            %p Hello this is a test comment and this comment is particularly very long and it goes on and on and on.
          .upvote
            %span.count 0
            %span.upvote
            %span.downvote
          %hr#comment-line
        %li
          .commenterImage
            %img{:src => "http://lorempixel.com/50/50/people/9"}/
          .commenterName
            =link_to 'Firstname Lastname','#'
            ,
            %span.date.sub-text on March 5th, 2014
          %br
          .commentText
            %p Hello this is a test comment.
          %hr#comment-line
  .post-comment
    %input.form-control{:placeholder => "Your comments", :type => "text"}
      .attach-file
        %label.btn.btn-default{:for => "my-file-selector"}
          Attach file
          %input#my-file-selector{:style => "display:none;", :type => "file"}
        %select{"data-role" => "tagsinput", :multiple => ""}
          %option{:value => "img1.png"} img1.png
          %option{:value => "test.txt"} test.txt
          %option{:value => "img2.png"} img2.png
    .post-button
      %button.btn.btn-default Post comment
  %input#input-2.file{:type=>"file",:multiple=>"true", "data-show-upload"=>"false", "data-show-caption"=>"true"}
