.container
  .row
    .panel.panel-info
      .panel-heading
        .row
          .col-md-2
            -if !@idea.avatar_id.nil?
              =image_tag Attachment.find(@idea.avatar_id).path.thumb.url, :class => "p-bot-5"
            -else
              =image_tag '/img/no_image_available_thumb.jpg', :class => "p-bot-5", :width => 100, :height => 100
          .col-md-10
            %h2.idea-title
              =@idea.title
        .row
          .pull-right{ :style => 'padding-right:15px;' }
            =link_to @idea.user do
              = image_tag(current_user.avatar.small_avatar.url, :class => 'img-circle')
              =@idea.user.first_name + " " + @idea.user.last_name
            at
            =@idea.created_at.strftime('%d-%m-%Y, %I:%M')
      .panel-body
        =@idea.description.html_safe
      -if !@idea.attachments.empty?
        .panel-footer
          %h4 Attachments:
          .row
            =render partial: @idea.attachments
  .row
    .pull-right
      %input#input-rating.rating{"data-max" => "5", "data-min" => "0","data-show-clear"=>"false", "data-step" => "0.1",
                                  :value => @idea.ratings.average(:rate)}
  .detailBox
    .actionBox
      %ul.commentList
        %li
          .commenterImage
            %img{:src => "http://lorempixel.com/50/50/people/6"}/
          .commenterName
            =link_to 'Firstname Lastname','#'
            ,
            %span.date.sub-text on March 5th, 2014
          %br
          .commentText
            %p Hello this is a test comment.
          .upvote
            %span.count 0
            %span.upvote
            %span.downvote
          %hr#comment-line
        .answer
          %li
            .commenterImage
              %img{:src => "http://lorempixel.com/50/50/people/7"}/
            .commenterName
              =link_to 'Firstname Lastname','#'
              ,
              %span.date.sub-text on March 5th, 2014
            %br
            .commentText
              %p Hello this is a test comment and this comment is particularly very long and it goes on and on and on.
            .upvote
              %span.count 0
              %span.upvote
              %span.downvote
            %hr#comment-line
        %li
          .commenterImage
            %img{:src => "http://lorempixel.com/50/50/people/7"}/
          .commenterName
            =link_to 'Firstname Lastname','#'
            ,
            %span.date.sub-text on March 5th, 2014
          %br
          .commentText
            %p Hello this is a test comment and this comment is particularly very long and it goes on and on and on.
          .upvote
            %span.count 0
            %span.upvote
            %span.downvote
          %hr#comment-line
        %li
          .commenterImage
            %img{:src => "http://lorempixel.com/50/50/people/7"}/
          .commenterName
            =link_to 'Firstname Lastname','#'
            ,
            %span.date.sub-text on March 5th, 2014
          %br
          .commentText
            %p Hello this is a test comment and this comment is particularly very long and it goes on and on and on.
          .upvote
            %span.count 0
            %span.upvote
            %span.downvote
          %hr#comment-line
        %li
          .commenterImage
            %img{:src => "http://lorempixel.com/50/50/people/9"}/
          .commenterName
            =link_to 'Firstname Lastname','#'
            ,
            %span.date.sub-text on March 5th, 2014
          %br
          .commentText
            %p Hello this is a test comment.
          %hr#comment-line
  .post-comment
    %input.form-control{:placeholder => "Your comments", :type => "text"}
      .attach-file
        %label.btn.btn-default{:for => "my-file-selector"}
          Attach file
          %input#my-file-selector{:style => "display:none;", :type => "file"}
        %select{"data-role" => "tagsinput", :multiple => ""}
          %option{:value => "img1.png"} img1.png
          %option{:value => "test.txt"} test.txt
          %option{:value => "img2.png"} img2.png
    .post-button
      %button.btn.btn-default Post comment
  %input#input-2.file{:type=>"file",:multiple=>"true", "data-show-upload"=>"false", "data-show-caption"=>"true"}

=javascript_include_tag 'rating'