.container
  .idea-head
    .idea-owner
      %img{src: '../img/all-users.png',class:'owner-image'}
      .owner-name
        =link_to 'Firstname Lastname','#'
    .idea-title
      =@idea.title
    %img{src: '../img/none.png',class:'idea-image'}
  .col-md-12
    .well
      #myCarousel.carousel.slide{"data-interval" => "0", "data-ride" => "carousel"}
        .carousel-inner
          .item.active
            .row
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
          .item
            .row
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
          .item
            .row
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
              .col-xs-3
                %a{:href => "#x"}
                  %img.img-responsive{:alt => "Image", :src => "http://placehold.it/250x250"}/
      %a.left.carousel_control{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.right.carousel_control{"data-slide" => "next", :href => "#myCarousel"} ›
  .idea-description
    =@idea.description
  .vote
    %span.icon-star
    %span.icon-star
    %span.icon-star
    %span.icon-star
    %span.icon-star
  .comments
    %li.to.clearfix
      .chat-body.clearfix
        .header
          %strong.primary-font
            = link_to "message.user.login", '#'
          %small.pull-right.text-muted
            %span.glyphicon.glyphicon-time>
            test
          .message
            egaerrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
            #long-text{ style: 'display: none;' }
              %small.pull-right.text-muted
                %span.glyphicon.glyphicon-chevron-up{ style: 'cursor: pointer;' }
              %p
                okuiogfvu8ogf8uo
    %li.from.clearfix
      .chat-body.clearfix
        .header
          %strong.primary-font
            hgggggggggggggggggggggg
          %small.pull-right.text-muted
            %span.glyphicon.glyphicon-time>
            hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
          .message
