development:
  adapter: postgresql
  host:     localhost
  encoding: unicode
  database: brightIdeas_development
  pool: 5
  timeout: 5000
  username: kolenko_s
  password:

test:
  adapter: postgresql
  host:     localhost
  encoding: unicode
  database: brightIdeas_test
  pool: 5
  timeout: 5000
  username: kolenko_s
  password:

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: brightIdeas_production
  pool:     5
  username: kolenko_s
  password:
  template: template0