.auth-form {
  width: 40%;
  margin: 20px auto;
  padding: 10px 25px 25px;
  background: white;
  border-radius: 5px;
  border-bottom: 1px solid #c4c4c4;
}

.site-description {
  text-align: center;
  margin: 20px auto;
  width: 50%;
}