// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea-image {
  width:100%;
  height:150px;
}
.idea-owner {
  position: absolute;
  width:auto;
  margin: 0px 10px 0px 10px;
}
.idea-owner img{
  margin-left: 0px;
  margin-top:10px;
  width: 120px;
  border: 2px black solid;
}
.owner-name a{
  width: 100%;
  color: black;
}

.attach-item{
  position: absolute;
  border: 2px black solid;
  width: 100px;
  height: 100px;
  left: 40px;
}
.idea-description{
  height: 120px;
}
.idea-preview{
  height: 450px;
}
.idea-preview-caption{
  height: 220px;
}
.star-rating.rating-md.rating-active{
  float:right;
  font-size: 30px;
}
.star-rating.rating-md.rating-active .caption{
  float:left;
  padding-top: 10px;
  padding-right: 5px;
}
.comments{
  border: 2px black solid;
  margin-top: 50px;
}
.file-preview-thumbnails{
  border: 2px black solid;
  height: auto;
  text-align: center;
}
.file-preview-thumbnails span{
  font-size:50px;
  height: auto;
  text-align: center;
}
.clip{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bg-lightcyan{
  background-color: #E8F6FF;
}

.p-bot-5{
  padding-bottom: 5px;
}

.icon-gold{
  color: gold;
}

.icon-cornflowerblue{
  color: cornflowerblue;
}

.idea-title{
  color: #000000;
  text-align: center;
}

.col-link:hover{
  cursor: pointer;
  border: 3px gray;
}

