// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.idea-image {
//  padding-bottom: 5px;
//  border-radius: 5%;
//}

.idea_image {
  margin-top: 0px;
  width: 100%;
  height: 125px;
}

.idea_image img{
  height: 100%;
  width: 100%;
}

.idea-owner {
  position: absolute;
  width:auto;
  margin: 0px 10px 0px 10px;
}
.idea-owner img{
  margin-left: 0px;
  margin-top:10px;
  width: 120px;
  border: 2px black solid;
}
.owner-name a{
  width: 100%;
  color: black;
}

.attach-item img{
  border-radius: 4px;
}
.attach-item{
  text-align: center;
}

.attach-item a{
  color: black;
}
.attach-item a:hover{
  color: black;
  text-decoration: none;
}

//.idea-container .thumbnail {
//  background-color: #f8f8f8;
//}

.idea-container {
  margin-top: 10px;
  background: #fafafa;
  background-clip: padding-box;
  border: solid #453b5d;
  border-width: 2px 2px 2px 2px;
  border-radius: 5%;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(black, .1);
}


@font-face{
  font-family: 'Caudex-Regular';
  src: font-url("Caudex-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.idea-desc-on-show {
  font-family: 'Caudex-Regular'
}

.idea-description{
  margin: 5px;
  height: 120px;
  font-family: 'Caudex-Regular'
}

.idea-author {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.idea-preview{
  height: 450px;
}
.idea-preview-caption{
  height: 220px;
}
.star-rating.rating-md.rating-active{
//  float:right;
  font-size: 30px;
}
.star-rating.rating-md.rating-active .caption{
  float:left;
  padding-top: 10px;
  padding-right: 5px;
}
.comments{
  border: 2px black solid;
  margin-top: 50px;
}

.clip{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//.bg-lightcyan{
//  background-color: #E8F6FF;
//}

.p-bot-5{
  padding-bottom: 5px;
}

.icon-gold{
  color: gold;
}

.icon-cornflowerblue{
  color: cornflowerblue;
}

.badge-comments{
  margin-left: -18px;
}

.idea-title{
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.text-left{
  text-align: left;
}

.col-link:hover{
  cursor: pointer;
  border: 3px gray;
}

.form_title{
  margin-left:200px;
}

.idea-logo-box {
  width: 110px;
  height: 110px;
  margin: 0px auto;
  float: left;
  background: white;
  display: inline-block;
  border-radius: 10%;
  border: 1px solid #DDD;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
}

.idea-block {
  height: 200px;
  font-family: "Times New Roman", Times, serif;
}

.idea-logo{
  width: 100px;
  height: 100px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  margin: 4px;
}

.idea-desc-block{
  font-size: 110%;
  margin-left: -50px;
  height: 125px;
  font-family: 'Caudex-Regular'
}

.new_idea label{
  font-family: 'Caudex-Regular';
}

.glyphicon-comment {
  margin-right: 15px;
}

.idea-desc-block img{
  visibility: hidden;
}

.idea-statistic{
  margin-left: -50px;
}

.idea-block h3 {
  margin-top: 0px;
  margin-left: -50px;
}

.ideas-span {

}

.action-block {
  padding-top: 10px;
  padding-right: 10px;
  height: 40px;
}

.content-block {
  padding-left: 10px;
  padding-right: 10px;
}

.ideas-container{
  margin-top: 20px;
}


#search-form #search{
  height: 30px;
  width: 250px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 7px;
}

.idea-user-box {
  width: 150px;
  height: 150px;
  margin: 0px auto;
  background: white;
  border-radius: 10%;
  border: 1px solid #DDD;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.idea-user{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 4px;
}

.attach-box {
  width: 150px;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #DDD;
  display: inline-block;
  border-radius: 10%;
  border: 1px solid #DDD;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  text-align: center;
}

.attach-box img {
  width: 100px;
  height: 100px;
  margin: 4px;
  border-radius: 10%;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
}
.attach-box:hover{
  box-shadow: inset 0 0 6px;
}
.attach-box a{
  color: black;
}
.attach-box a:hover{
  color: black;
  text-decoration: none;
}

#dropdownMenu1 {
  border: none;
}

.navbar-default {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.times-font{
  font-family: "Times New Roman", Times, serif;
}

//Edit idea button style
.button_outline_grey:hover {
  border-color: #0f2105;
  color: #0f2105;
  text-decoration: none;
}

.button_outline_grey {
  border-color: #828587;
  color: #828587;
}

.button_small {
  line-height: 30px;
  min-height: 30px;
  height: auto;
  margin-top: 10px;
  font-size: 12px;
  padding: 0px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.button_outline {
  border-width: 2px;
  background-color: transparent;
  border-style: solid;
}
.navbar-default{
   border: 1px solid #0f2105;
 }

#dropdownMenu1 {
  border-width: 2px;
  border-color: #828587;
  color: #828587;
  background-color: transparent;
  border-style: solid;
}

#dropdownMenu1:hover {
  border-color: #0f2105;
  color: #0f2105;
}

.wrap-text{
  word-wrap: break-word;
}